.search-section {
    align-items: center;
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.search-section svg {
    color: #ccc;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: none;
    @media screen and (min-width: 576px) {
        display: block;
    }
}

.search-container {
    position: relative;
}

.search-section input {
    background: #1c1c1c;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #ccc;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.search-section input:focus {
    border: 0;
}

.search-section input:focus-visible {
    outline: 0;
}